// --- Variáveis ---
$navbar-background: #510568; //esta variável foi colocada no global em CSS Custom Properties teste
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;

$navbar-item-spacing: 2rem; 

// --- container da Navbar ---
.navContainer {
  background-color: var(--navbar-background); //aqui usa-se a função var() e busca a variável do global
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  display: flex; 
  // justify-content: space-between; // se tiver logo e links separados
  align-items: center;
}

// --- grupo de links ---
.menuItems {
  display: flex; // alinhar os links horizontalmente
  align-items: center;
  list-style: none; 
  margin: 0;
  padding: 0;
  gap: $navbar-item-spacing; 
}


.navLink {
  display: inline-block; 
  padding: 0.75rem 0.25rem; 
  text-decoration: none;
  color: #f8f3f3;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  position: relative; 

  &:hover {
    color: #ebe8bd;
  }

  // animação do sublinhado
  &::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ebe8bd; 
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  
  &.active {
    color: #f4f461; 
    font-weight: bold;

    &::before { // garante que o sublinhado apareça no link ativo
      width: 100%;
      background-color: #f4f461; 
    }
  }
}